server:
  port: 8891

proxy:
  enabled: false
  url:

rsa:
  private_key: |
    -----BEGIN PRIVATE KEY-----
    MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDXKNzulGgCBUoC
    ....
    -----END PRIVATE KEY-----

  public_key: |
    -----BEGIN PUBLIC KEY-----
    MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1yjc7pRoAgVKAnwaP/Ul
    ...
    -----END PUBLIC KEY-----
